.text-danger {
    color: #ed5565;
}
.m-b-none {
    margin-bottom: 0;
}
.main-slider {
    overflow: hidden;
    position: sticky!important;
}
.category_items{
    display: none;
    width: 100%;
    float: left;
    height: auto;
    left: 0;
    opacity: 0.4;
    background: #ddd;
    color: black;
}
.category_list{

}
.category_list:hover .category_items{
    display: block;
    position: fixed;
    z-index: 1;
}
.category_list ul li{
    float: left;
    padding: 10px 5px 10px 5px;
}

.category_items ul li a{
    font-size: 14px;
}
.category_items ul li a:hover{
    color: red;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn1:hover {
    background-color: #666;
    color: white;
}

